.explore #content div.gu_profile,
.explore #content div.gu_profilebody {
  margin: 0;
}
.explore #content ul.gu_profilenav {
  word-spacing: -4px;
}
.explore #content ul.gu_profilenav li {
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid #d7d2c5;
  word-spacing: normal;
}
.explore #content ul.gu_profilenav li:last-of-type {
  margin: 0;
  padding: 0;
  border: none;
}
.explore #content div.gu_profileheader h3 {
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.2;
  font-family: "adobe-caslon-pro", Georgia, "Times New Roman", serif;
}
.explore #content div.gu_profilebody div.gu_profileitem {
  margin: 0;
  padding: 0.5rem 0;
  border-top: 1px solid #d7d2c5;
}
.explore #content div.gu_profilebody div.gu_profileitem .gu_profileitemcontent {
  font-weight: 400;
  font-size: 1rem;
}
.explore #content div.gu_profilebody div.gu_profileitem .gu_profileitemcontent li {
  font-weight: inherit;
  font-size: inherit;
}
@media (min-width: 0) and (max-width: 767px) {
  .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_alternatephone .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_cv .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_fax .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_alternateemail .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_email .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_officehours .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_location .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_phone .gu_profileitemlabel {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
@media (min-width: 768px) {
  .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_alternatephone .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_cv .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_fax .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_alternateemail .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_email .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_officehours .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_location .gu_profileitemlabel, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_phone .gu_profileitemlabel {
    float: left;
    clear: left;
    width: 11rem;
  }
}
.explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_alternatephone .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_cv .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_fax .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_alternateemail .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_email .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_gu_officehours .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_location .gu_profileitemcontent, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_phone .gu_profileitemcontent {
  overflow: auto;
}
@media (min-width: 768px) {
  .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_website .gu_profileitemlabel {
    float: left;
    clear: left;
    width: 11rem;
  }
}
.explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_education .gu_profileitemcontent ul li, .explore #content div.gu_profilebody div.gu_profileitem.gu_profileitem_languages .gu_profileitemcontent ul li {
  margin-bottom: 0.25rem;
}
.explore #content div.gu_profilebody div.gu_profileitem_portrait h4 {
  display: none;
}
@media (min-width: 768px) {
  .explore #content div.gu_profilebody div.gu_profileitem_portrait {
    float: right;
    margin: 0;
    padding: 0 0 2rem 3rem;
    border-color: white;
    background: white;
  }
}
.explore #content div.gu_profilebody div.gu_profileitem_portrait img {
  max-width: 200px;
}
@media (min-width: 992px) {
  .explore #content div.gu_profilebody div.gu_profileitem_portrait img {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .explore #content div.gu_profilebody div.gu_profileitem_bio {
    clear: left;
  }
}
.explore #content div.gu_profilebody div.gu_profileitem_bio .gu_profileitemcontent {
  padding: 0.5rem 0;
}
