// colors

$black: rgb(0,0,0);
$white: rgb(255,255,255);

  // official GU brand
$blue: rgb(1,30,65);
$gray: rgb(134,120,117);

  // secondary brand
$blue2: rgb(0,32,92);
$blue3: rgb(0,34,105);
$gray2: rgb(198,188,182);
$gray3: rgb(215,210,197);

  // tertiary brand
$blueLight: rgb(107,171,229);
$bluePale: rgb(185,217,236);
$green: rgb(114,152,75);
$maroon: rgb(138,36,50);
$red: rgb(225,38,28);
$yellow: rgb(249,224,142);

// fonts
$sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "adobe-caslon-pro", Georgia, "Times New Roman", serif;

// media queries for breakpoint
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$md-down: 0 767px;
