// colors

$black: rgb(0,0,0);
$white: rgb(255,255,255);

  // official GU brand
$blue: rgb(1,30,65);
$gray: rgb(134,120,117);
$gray2: rgb(198,188,182);

// fonts
$sans-serif: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "adobe-caslon-pro", Georgia, "Times New Roman", serif;

// media queries for breakpoint
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$md-down: 0 767px;
