@import "breakpoint";
@import "variables";



.explore {
  #content {
    div.gu_profile,
    div.gu_profilebody {
      margin: 0;
    }
    //tabbed navigation
    ul.gu_profilenav {
      word-spacing: -4px;
      li {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid $gray3;
        word-spacing: normal;
        &:last-of-type {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
    }
    // profile header
    div.gu_profileheader {
      h3 {
        margin-bottom: 0.5rem;
        color: $black;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 1.2;
        font-family: $serif;
      }
    }
    // profile sections
    div.gu_profilebody {
      div.gu_profileitem {
        margin: 0;
        padding: 0.5rem 0;
        border-top: 1px solid $gray3;

        &.gu_profileitem_alternatephone .gu_profileitemlabel,
        &.gu_profileitem_cv .gu_profileitemlabel,
        &.gu_profileitem_education .gu_profileitemlabel,
        &.gu_profileitem_fax .gu_profileitemlabel,
        &.gu_profileitem_gu_alternateemail .gu_profileitemlabel,
        &.gu_profileitem_gu_email .gu_profileitemlabel,
        &.gu_profileitem_gu_officehours .gu_profileitemlabel,
        &.gu_profileitem_location .gu_profileitemlabel,
        &.gu_profileitem_phone .gu_profileitemlabel {
          @include breakpoint($md-down) {
            // screen reader only, from bootstrap
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
          }
          @include breakpoint($md) {
            float: left;
            clear: left;
            width: 11rem;
          }
        }
        &.gu_profileitem_website .gu_profileitemlabel {
          @include breakpoint($md) {
            float: left;
            clear: left;
            width: 11rem;
          }
        }
      }

      // profile photo
      div.gu_profileitem_portrait {
        h4 {
          display: none;
        }
        @include breakpoint($md) {
          float: right;
          margin: 0;
          padding: 0 0 2rem 3rem;
          border-color: $white;
          background: $white;
        }
      }

      // profile bio
      div.gu_profileitem_bio {
        @include breakpoint($md) {
          clear: left;
        }
        .gu_profileitemcontent {
          padding: 0.5rem 0;
        }
      }

    }
  }
}
