/* Code minified at: https://cssminifier.com/ */

/* Setting up the decision tree questions so all but question 1 are hidden on page load */

.decision-tree .question {
	box-sizing: border-box;
	clear: both;
	display: none;
	padding: 0.5rem 0;
	width: 100%;
}

.decision-tree .question.show,
.decision-tree .q1 {
	display: inline-block;
}

.decision-tree .question.hide {
  display: none;
}

/* Basic layout of the decision tree questions and answer options */
.decision-tree .question label {
  display: block;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .decision-tree .question label {
    display: inline-block;
    width: calc(100% - 10rem);
  }
}

.decision-tree .question button {
	display: inline-block;
  margin: 0 0.5rem;
  width: 4rem;
}

.decision-tree .question button.selected {
  background: #8a2432; /* red */
  color: #fff;
}

/* Styles for answer blocks */

.decision-answer {
	margin: 2rem 0;
}

.decision-answer .answer {
	display: none;
}

@media only print {
	#decision-tree-reset {
		display: none;
	}
}
